nav {
  height: 120px;
  width: 100vw;
  color: #302d2d;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top : 0;
  left : 0;
  right : 0;
  z-index : 1;
}

nav > span {
  font-family: 'Bungee', sans-serif;
}

.tweet-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #302d2d;
  cursor: pointer;
}

.angle-icon {
  margin-top: 0.5em;
}